<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration Page</h1>
<form method="POST" action="/register">
    <table>
        <tr>
            <td><label for="user_name">USERNAME</label></td>
            <td><input type="text" name="user_name" required></td>
        </tr>
        <tr>
            <td><label for="password">PASSWORD</label></td>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="REGISTER"></td>
        </tr>
    </table>

</form>
<p>Already have an account? <a href="/login">LOG IN</a></p>

</body>
</html>